.flag-icon{
    width:1.5rem;
}
.flag-button{
    padding:0 5px;
}
.grayscale{
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);
}
.image-preview{border:1px solid #dddddd;cursor: pointer;max-width:250px}
