.b-about .title {
    font-family: HelveticaNeue;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.b-about .content {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.l-our .item {
    text-align: center;
}

.l-our .item .title {
    text-align: center;
}

.l-our-awesome .item {
}

.l-our-awesome .item .title {
    font-family: HelveticaNeue;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    padding: 10px 0 8px 0;
}

/*mobile*/
@media (max-width: 768px) {
    .b-about .title {
        font-size: 20px;
    }

    .b-about .content {
        font-size: 16px;
    }

    .l-our-awesome .item .title {
        font-size: 18px;
    }
}