.b-contact {
}

.b-contact .title1 {
    font-family: HelveticaNeue;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #80b500;
    text-transform: uppercase;
}

.b-contact .title2 {
    font-family: HelveticaNeue;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    text-transform: uppercase;
}

.b-contact .title3{
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    text-transform: uppercase;
}
.b-contact .location{
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.b-contact input{
    border: solid 1px #bcbcbc;
    background-color: #ffffff;
}

.b-contact .t-agree{
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.b-contact .submit{
    display: block;
    margin: 20px auto;
    background-color: #80b500;
    font-family: HelveticaNeue;
    border-radius: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
}

.b-contact .custom-control-label{
    font-style: italic;
}

@media (max-width: 768px) {
    .b-contact .title2 {
        font-size: 20px;
    }
    .b-contact .title3 {
        font-size: 13px;
    }
    .b-contact .location {
        font-size: unset;
    }
}
