.slider {
    width: 100%;
    height: auto;
}

/*company*/
.company-profile {
    /*height: 430px;*/
}

.company-desc {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.company-desc pre {
    overflow: hidden;
}

.company-node-title {
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #9e9e9e;
}

/*slider*/
.mx-related-products span.mx-price {
    font-size: 22px;
}

.mx-related-products a:hover span.mx-price {
    font-size: 26px;
}

/*slider*/
/*block partner*/
.kt-block-partner {
    background-color: #f7f7f7;
    padding: 96px;
}

.slider-container {
    max-width: var(--layout-width);
    margin: 0 auto;
    background: transparent;
    border: 0;
}

/*mobile*/
@media (max-width: 768px) {
    /*company profile*/
    .company-desc {
        font-size: 14px;
    }

    .company-node-title {
        font-size: 14px;
        padding-top: 20px;
    }
}

