.news-title{
    font-weight: bold;
    font-size: 25px;
    color: #707070;
}
.news-date{
    font-style: italic;
    color: #707070;
}

.news-content{
    font-weight: bold;
}

.news-item{
    margin-top: 30px;
}

.recent-title{
    font-weight: bold;
    font-size: 18px;
}

.recent-item{
    margin-top: 15px;
    color: #707070;
}
.recent-item-title{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
}

.recent-item-date{
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
}

/*mobile*/
@media (max-width: 768px) {
    .news-title{
        font-size: 20px;
    }
}
