.b-list-partner .item {

}

.b-list-partner .item .title {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.b-list-partner .item .logo {
    border: 1px solid;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.b-list-partner .item .content {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

@media (max-width: 768px) {
    .b-list-partner .item .title, .b-list-partner .item .content {
        font-size: 16px;
    }

    .b-list-partner .item .logo{
        height: 150px;
    }
}

