.flexslider {
    margin: 0;
}

.b-main .product-name {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    text-transform: uppercase;
    border-bottom: dashed 1px #c8d2e0;
}

.b-main .product-amount {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #cb1a1a;
}

/*table leadtime*/
.table-leadtime td, .table-leadtime th {
    padding: 6px;
    text-align: left;
    border: 1px solid #c8d2e0;
}

.b-main .product-price {
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    color: #cb1a1a;
}

.b-color, .b-size, .b-select-quanlity {
    padding: 20px 0;
    border-bottom: dashed 1px #c8d2e0;
}

.b-color p, .b-size p, .b-select-quanlity p {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
}

.b-color ul, .b-size ul {
    margin: 0 0 0 -40px;
    display: flex;
    list-style: none;
}

.b-color ul li, .b-size ul li {
    margin-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-color .item {
    width: 35px;
    height: 35px;
    border: solid 1px #c8d2e0;
    background-color: #ffffff;
}

.b-size .item {
    padding: 6px;
    height: 35px;
    border-radius: 2px;
    margin-right: 10px;
    border: solid 1px #c8d2e0;
    background-color: #ffffff;
}

/*quanlity*/
.b-select-quanlity .b-quanlity {
    display: inline-flex;
}

.b-select-quanlity .tx-quantity {
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #f3f3f3;
    margin: 0 3px;
    border: 1px solid #979797;
}

.b-quanlity button {
    width: 35px;
}

.flex-direction-nav a {
    top: 50%;
}

.bt-buynow {
    width: 171px;
    height: 35px;
    background-color: #6faa00;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.bt-buynow:hover {
    background-color: #93bd43;
}

/*Overview*/
.b-overview label {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    width: 100%;
    padding: 0 0 20px;
    border-bottom: dashed 1px #c8d2e0;
}

.b-overview .b-item {
    padding: 0 0 20px;
}

.b-item .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    margin: 20px 0;
}


.b-item .item {
    display: inline-flex;
}

.b-item .item div:first-child {
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.b-item .item div:last-child {
    padding-left: 15px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
}




