/*product*/

/*product nav*/
.b-product-nav, .b-product-nav > div {
    display: flex;
}

.b-product-nav .b-menu {
    overflow-x: scroll;
    white-space: nowrap;
}

.b-menu a{
    margin-right: 15px;
    color:  #707070;
}

.b-menu a.active{
    color:  #80b500;
}

.b-product-nav .b-setting {
    width: 73px;
    align-items: center;
}

.menu-cate{
    display: contents;
    list-style: none;
}
.li-cate {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.0;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: auto 20px;
    white-space: nowrap;
}
.menu-cate .active {
    color: #80b500;
}

.li-cate:hover {
    color: #80b500;
    text-decoration: none;
}

.product-item {
    margin-bottom: 50px;
}

.product-item .b-addinfo
{
    margin-top: 5px;
}
.product-item .b-addinfo .justify-content-between
{
    align-items: flex-end;
}

.product-item span {
    font-weight: bold;
}

.product-item-addinfo {
    align-items: flex-end;
}

.product-item-cover {
    width: 100%;
    height: 290px;
    display: flex;
    align-items: center;
    border: 1px solid #fdf2f2;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .product-item-cover {
        height: 220px;
    }
}

@media screen and (max-width: 800px) {
    .product-item-cover {
        height: 200px;
    }
}

.product-item-bt-shop {
    width: 37px;
    height: 37px;
    padding: 10px;
    background-color: #b5b5b5;
    bottom: 2px;
    right: 15px;
    /*position: absolute;*/
}

.product-item-price1 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #cb1a1a;
}

.product-item-price2 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #80b500;
}

/*product page*/
/*box left*/
.box-left-header {
    height: 59px;
    background-color: #6faa00;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 59px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.box-left-rect1 {
    border: solid 1px #707070;
    background-color: #ffffff;
}

.box-left-rect1-item {
    height: 59px;
    width: 100%;
    border-bottom: dashed 1px #707070;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 59px;
    padding-left: 20px;
    text-align: left;
    color: #707070;
}

box-left-rect1-item:last-child {
    border-bottom: 0;
}

.box-left-rect1 .active {
    color: #6FAA00;
}

/*box left2*/
.box-left-rect2 {
    border-bottom: solid 1px #707070;
    border-top: solid 1px #707070;
}

.box-left-rect2-header {
    height: 59px;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 59px;
    color: #707070;
    text-align: center;
    text-transform: uppercase;
}

.box-left-rect2-item {
    height: 59px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #707070;
}

.box-left-rect2-item img {
    margin-right: 20px;
}

/*pagination*/
.pagination {
    height: 80px;
    width: 100%;
    border-top: solid 1px #707070;
    border-bottom: solid 1px #707070;
    border-radius: 0;
}

.pagination ul {
    float: right;
    text-decoration: none;
    list-style: none;
    margin: 0;
    display: inline-flex;
    padding-right: 15px;
}

.pagination ul li {
    margin: auto 0;
    min-width: 30px;
    display: inline-flex;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.pagination ul li a {
    margin: auto 0;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.pagination ul li a.active {
    text-decoration: underline;
}

/*mobile*/
@media (max-width: 768px) {
    .product-item {
        /*padding: 0 5px;*/
    }
}
