.b-service-list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-service-list .item .title {
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.b-service-list .item .content {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
}

/*form*/
.f-faq {
    width: 50%;
}

.f-faq .b-submit {
    float: right;
}

@media (max-width: 768px) {
    .f-faq {
        width: 100%;
    }
}