.header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header div {
    align-items: center;
    display: flex;
}

.header .b-shop {
    padding-right: 15px;
}

/*title*/
.cate-title {
    font-size: 20px;
    padding: 0 8px;
}

.header .shop {
    width: 21px;
    height: 21px;
    color: white;
    background-color: green;
    float: right;
    border-radius: 20px;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 8px;
}

/*menu*/
.nav-left {
    margin: 0;
    height: 100%;
}

.nav-left .nav-content {
    width: 80%;
    height: 100%;
}

.nav-left .nav-header {
    background-color: #59ab33;
    align-items: center;
    padding-left: 2rem;
}

.nav-left .nav-header span {
    font-family: HelveticaNeue;
    font-size: 16px;
    padding: 0 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.nav-left .nav-body {
    background-color: white;
}

.nav-body ul {
    list-style: none;
    padding-inline-start: 0px;
}

.nav-item .nav-link {
    color: #707070;
    text-transform: uppercase;
    font-weight: bold;
}

.active > .nav-link {
    background-color: transparent;
    color: #80b500;
}

/*nav*/
.box-left-rect2-item {
    height: unset;
    font-size: 16px;
    padding: 8px 15px;
}


/*footer*/
.footer-shorttext{
    font-size: 20px;
}

.see-more {
    font-size: 14px;
}

/*override bootstrap*/
.row {
    margin-right: -8px;
    margin-left: -8px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 8px;
    padding-left: 8px;
}
