/*flex slider*/
.flexslider {
    margin: 0;
    background: transparent;
    border: 0px solid #fff;
}

.flex-prev,
.flex-next {
    font-size: 0;
}

.flex-direction-nav a {
    margin: -20px 25px 0;
    width: unset;
    height: unset;
}

.flex-direction-nav a:before {
    content: url("../img/bt-prev.png");
}

.flex-direction-nav a.flex-next:before {
    content: url("../img/bt-next.png");
}

.flexslider .flex-direction-nav .flex-next {
    right: 5px; /* adjust offset to match the hover style */
    opacity: .8; /* adjust opacity to match the hover style */
}

.flexslider .flex-direction-nav .flex-prev {
    left: 5px; /* adjust offset to match the hover style */
    opacity: .8; /* adjust opacity to match the hover style */
}