:root {
    --layout-width: 1140px;
    --nav-width: 1080px;
}

@font-face {
    font-family: 'HelveticaNeue';
    url('../font/helveticaneue.tff')  format('truetype') /* Safari, Android, iOS */
}

html, body {
    font-family: Tiempos;
    color: #707070;
    width: 100%;
    overflow-x: hidden;
}

body.modal-open {
    /*position: fixed;*/
}

.header {
    min-height: 50px;
    background-color: #f2f5f8;
    align-content: center;
}

.header .header-content {
    width: var(--layout-width);
}

.header-text {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 1.4px;
    color: #8c8c8c;
    text-transform: uppercase;
}

.content-container {
    max-width: var(--layout-width);
    /*margin: 0 auto;*/
}

.footer {
    background-color: #707070;
}

.footer .brand {
    height: 50px;
    display: flex;
    align-items: flex-end;
}

.footer .logo{
    height: 100%;
    width: auto;
}

.footer-shorttext {
    font-family: Avenir;
    font-size: 24px;
    height: 100%;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 2px solid white;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
}

.footer-fulltext {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.footer-menu a {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

/*impl*/
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 10px;
}

.fa-sign:before {
    content: url(../img/sign.png);
}

.fa-shop:before {
    content: url(../img/shop.png);
}

.fa-node:before {
    content: url(../img/ic-node.png);
}

.fa-navbar-search:before {
    content: url(../img/ic-navbar-search.png);
}

.fa-node-blue:before {
    content: url(../img/ic-node-blue.png);
    padding-right: 20px;
}

.fa-price-tick:before {
    content: url(../img/price-tick.png);
    margin: 0 auto;
    padding-right: 20px;
}

.fa-price-non-tick:before {
    content: url(../img/price-nontick.png);
    margin: 0 auto;
    padding-right: 20px;
}

/*flex*/
.flex-prev,
.flex-next {
    font-size: 0;
}
.title1{
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    color: #80b500;
}
.message1 {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.4px;
    text-align: center;
    color: #8c8c8c;
}
.b-title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cate-title {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    padding: 0 15px;
    border-left: 7px solid #80b500;
    border-right: 7px solid #80b500;
}

.rectangle-6 {
    width: 9px;
    height: 23px;
    background-color: #80b500;
}

/*navbar*/
.bg-light {
    background-color: transparent !important;
}

.navbar ul {
    display: contents;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #707070;
    /*margin-right: 60px;*/
    text-transform: uppercase;
    font-weight: bold;
}

.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link, .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    background-color: transparent;
    color: #80b500;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #80b500;
    opacity: 0.7;
}

.navbar.navbar-light form .md-form input {
    border-bottom: 1px solid #67a502;
}

.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-light .navbar-toggler, .navbar.navbar-light form .md-form .form-control {
    color: #69a300;
}

#nav_search::placeholder {
    color: #69a300 !important;
    font-style: italic;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        justify-content: center;
    }
}

/*text*/
.crop-text-5 {

    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.see-more {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #80b500;
}


