.card{
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0,0,0,.125);
     border-radius: .25rem;
 }
.card .card-header:first-child{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card .card-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card .card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card .card-body .article-list{
    height:500px;
    overflow-y: auto;
}
.card .card-body .card-title{
    margin-bottom: .75rem;
}
.article-item-type-1{
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    background-color: rgba(0,0,0,.03);
}

.article-item-type-1 .article-title{}
.article-item-type-1 .article-info{
    font-size:small;
    color:#838383 !important;
}

.highlight {
    border: 1px dashed green;
    font-weight: bold;
}

.bootstrap-tagsinput{
    width:100% !important;
}