.category-title{
    color:#8c8c8c;
    font-size:24px;
    font-weight: 500;
    font-family: Tiempos, Sans-Serif;
}

.carousel-indicators{
    position: inherit;
    margin-top:20px;
}
.carousel-indicators .active{
    background: #82aad1;
}
.carousel-indicators li{
    width:10px;
    height: 10px;
    background: #0d5ba6;
    border-radius: 10px;
}
.carousel-item .article-title{
    font-family: Tiempos, Sans-Serif;
    font-size:18px;
    font-weight: 500;
    min-height: 55px;
    margin-top:10px;
    line-height:1.5;

}
.carousel-item .article-title a{ color:#3a3a3a }
.carousel-item .carousel-sub-item img{
    height: 150px;
}

.crop-text-1 {
    -webkit-line-clamp: 1;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.crop-text-2 {
     -webkit-line-clamp: 2;
     overflow : hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
 }
.crop-text-3 {
    -webkit-line-clamp: 3;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.article-item a{
    color:#8c8c8c !important;
}
.article-item a:hover{
    color:#3a3a3a;
}
.article-item .article-content .article-title{
    font-family: Tiempos, Sans-Serif;
    font-size:18px;
    font-weight:500;
    line-height: 1.3;
}
.article-item .article-content .article-info {
    font-size:14px;
    color:#838383 !important;
    margin:10px 0;
    font-weight:300;
    font-family: Harmonia,sans-serif;

}
.article-item .article-content .article-info a{
    color:#337588;
}
.article-item .article-content .article-sapo{
    font-size: 14px;
    font-family: Harmonia,sans-serif;
}

.article-item.article-item-simple .article-content .article-title{
    font-size:16px;
    color:#3a3a3a;
}
.article-item.article-item-simple .article-cover img{}
.article-item.article-item-simple .article-content .article-info{
    margin:5px 0;
}
.pagination{
    margin-top:20px;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.pagination li a, .pagination li span{
    font-size:14px;
    font-weight:bold;
}

.related-tags{
    margin: 20px 0;
    display: block;
    overflow: hidden;
}
.tag{
    display: block;
    background: #f3f4f7;
    width: auto;
    float: left;
    padding: 0 20px;
    color: #838383;
    border-radius: 2px;
    text-align: center;
    margin-right: 10px;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    font-weight: 100;
    font-family: harmonia,Arial,Helvetica,sans-serif;
    box-sizing: border-box;
}
.article-details{ margin:10px 0;
    text-align: justify !important;}
.article-details .article-info{
    font-family:Harmonia,sans-serif;
    font-size: 14px;
    margin:10px 0;
}
.article-details .article-info a{
    color:#337588;
}
.article-details .article-content{
    font-family:Harmonia,sans-serif;
    font-size: 16px;
    text-align: justify;
}
.article-details .article-content h2{
    font-size:24px;
    font-family:Tiempos,sans-serif;
}
.article-details .article-content h3{
    font-size:18px;
    font-family:Tiempos,sans-serif;
}
.article-details .article-content img{
    width:100% !important;
    height: auto !important;
}
.article-details .article-title{
    font-size:28px;
    font-weight:500;
    font-family: Tiempos, sans-serif;
}

.article-list h3.title{
    font-family: Tiempos, sans-serif;
    font-size:18px;
    line-height: 36px;
}

.article-cover{

}

.sameTopic-articles h2{
	font-family: Tiempos, sans-serif;
    font-size:28px;
}
.related-article .article-title{
	font-family:Harmonia,sans-serif;
    font-size: 16px;
    text-align: left;
}
.related-article img{
	min-height:250px;
}
.harmonia-regular{
    font-family:Harmonia, sans-serif;
}
.harmonia-semi-bold{
    font-family:Harmonia, sans-serif;
    font-weight: 500;
}
.font-14{
    font-size:16px;
}
@media (max-width: 767px) {
    .article-item .article-content .article-title{
    }
    .article-item.article-item-simple .article-cover{
        padding-right:0px;
    }
    .carousel-item .carousel-sub-item img{
        height: auto;
    }
}
