#modal_cart .cart-products::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;

}

/* Track */
#modal_cart .cart-products::-webkit-scrollbar-track {
    background: rgba(142, 142, 142, 0);
}

/* Handle */
#modal_cart .cart-products::-webkit-scrollbar-thumb {
    background: #80b500;
}

/* Handle on hover */
#modal_cart .cart-products::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9;
}

/*cart*/
.close-modal {
    position: absolute;
    right: 16px;
    top: 16px;
}

.cart-title1 {
    color: #80b500;
    font-family: Tiempos;
    font-size: 24px;
    text-align: center;
}

#modal_cart form {
    font-family: Harmonia;
}

#modal_cart .cart-products {
    max-height: 500px;
    padding-right: 10px;
    overflow-y: scroll;
}

.cart-product {
    display: flex;
    height: 96px;
    position: relative;
}

.cart-product .cover {
    width: 30%;
    text-align: center;
    display: flex;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    justify-items: center;
    align-items: center;
    margin: 10px;
    overflow: hidden;
}

.cart-product .info {
    width: 60%;
    line-height: normal;
    margin: 10px 0;
    font-family: Harmonia;
}

.cart-product .info .name {
    color: #8c8c8c;
    font-weight: 500;
}

.cart-product .info .price {
    color: #df0021eb;
}

.cart-product .cover img {
}