.form-info-type-1{
    padding:40px 20px;
    text-align: center;
    background-color: #f2f5f8;
    margin-top:20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-info-type-1 .header i{
    text-align: center;
    font-size:60px;
    color:#0d5ba6;
}

.form-info-type-1 .header .title{
    font-size:28px;
    font-weight: 500;
    color:#3a3a3a;
    font-family: Tiempos, sans-serif;
}

.form-info-type-1 .content{
    font-family: Harmonia,sans-serif;
    font-size:14px;
    text-align: justify;
    font-weight:400;
}

.form-info-type-1 .content form button{
    font-weight:600;
}

.block-type-2{
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom:20px;
}
.block-type-2 .head{
    margin-bottom:10px;
}
.block-type-2 .head span{
    font-family:Harmonia,sans-serif;
    font-size:18px;
    font-weight:400;
}
.block-type-2 .body{
    display:block;
}

.block-type-2 .related-article a{
    font-size: 16px;
    font-family:Harmonia,sans-serif;
    color:#4990e2;
    font-weight:400;
}
.block-type-2 .related-article a:hover {
    color:#0d5ba6;
}

.post-item{
    display: block;
    width: 48%;
    background: #f4f5f9;
    float: left;
    margin-right: 4%;
}

.post-item .post-cover{
    display: block;
    vertical-align: middle;
    padding-right: 5%;
    width: 25%;
    float: left;
    height: 60px;
}

.post-item .post-cover img{
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.post-item .post-info{
    display: block;
    width: 70%;
    overflow: hidden;
    float: left;
}

.sameTopics-container{
    background-color: #f4f5f9;
    padding:20px 0;
}

a.doc-button{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    padding: 10px 20px;
    background-color: #0a6aa1;
    color: #FFF !important;
    text-decoration:none;
    font-family: sans-serif;
    font-size: 16px;

}
