@font-face {
    font-family: 'Tiempos';
    src: url('../font/tiempos/TiemposHeadline-Regular.woff');
    font-weight: 200;
}
@font-face {
    font-family: 'Tiempos';
    src: url('../font/tiempos/TiemposHeadline-Medium.woff');
}
@font-face{
    font-family: 'Harmonia';
    src: url('../font/harmonia/Harmonia-Regular.woff');
    font-weight: normal;
}
@font-face{
    font-family: 'Harmonia';
    src: url('../font/harmonia/Harmonia-SemiBold.woff');
    font-weight: 500;
}
@font-face{
    font-family: 'Harmonia';
    src: url('../font/harmonia/Harmonia-Bold.woff');
    font-weight: 700;
}
