.image-grid{}
.image-grid .grid-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.image-grid .grid-column-3 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 33.33%;
    padding: 0 4px;
}

.image-grid .grid-column-3 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 250px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .image-grid .grid-column-3 {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .image-grid .grid-column-3 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
