/*ABOUT*/
.t-about {
    background-color: white;
    padding: 15px;
}

.t-about .sapo {
    font-family: Harmonia;
}

.t-about .activity-list .item {
    text-align: center;
}

.t-about .activity-list .title {
    font-family: Tiempos;
    font-size: 18px;
}

.t-about .activity-list .content {
    border-right: 8px;
    padding: 15px;
    text-align: left;
    font-family: Harmonia;
}

.t-about .item {
    text-align: center;
    padding: 15px;
}

/*contact*/
.t-contact {
    background-color: white;
    padding: 15px 15px 40px;
}

.t-contact .header {
    text-align: center;
}

.t-contact .header .title1 {
    text-transform: uppercase;
    font-size: 23px;
}

.t-contact .header .title2 {
    text-transform: uppercase;
    font-size: 20px;
}

.t-contact .location {
    margin-bottom: 15px;
}

.t-contact .location .description {
    font-family: Harmonia;
}

.contact-form .form-check-label {
    font-family: Harmonia;
    font-style: italic;
}

.contact-form {
    font-family: Harmonia;
}

.contact-form button {
    background-color: #80b500;
    width: 150px;
    font-family: Harmonia;
    color: white;
    border-radius: 15px;
    padding: 5px 0;
    border: 1px solid;
}

.contact-form button:hover {
    background-color: #31b54c;
}

/*desktop*/
@media (min-width: 768px) {
    .recruitment-list .news .t-cover img {
        height: 220px;
    }
}
