html, body {
    font-family: Tiempos;
    color: #8c8c8c;
}
a {
    color: #8c8c8c;
}
a:hover {
    text-decoration: none;
    color: #80b500;
}
a.active {
    color: #80b500 !important;
}
.divider {
    margin: 20px 0;
    height: 1px;
    background: #343434;
}
.divider-dot {
    margin: 20px 0;
    height: 1px;
    border-top: 1px dashed #cabcbc;
}
/*NAV BAR*/
.nav-bar {
    height: 50px;
    background-color: #f2f5f8;
    line-height: 50px;
    color: #8c8c8c;
}
.nav-bar ul li {
    list-style: none;
    display: inline;
}
.nav-bar ul li a {
    padding: 0 0 0 10px;
    color: #8c8c8c;
}
.nav-bar ul li a:hover {
    text-decoration: none;
    color: #80b500;
}
/**/
.header-logo{
}
/*TOP MENU*/
.top-menu {
    height: 60px;
    line-height: 60px;
    color: #8c8c8c;
}
.top-menu .top-menu-inner{
    display: flex;
    align-items: center;
}
.top-menu ul {
    padding: 0;
    margin: 0;
}
.top-menu ul li {
    list-style: none;
    display: inline;
}
.top-menu ul li a {
    padding: 0 30px 0 0;
    color: #8c8c8c;
}
.top-menu .dropdown-menu {
    line-height: 30px;
    top: 10px !important;
}
.top-menu .dropdown-menu a {
    padding: 5px 10px;
}
.top-menu .form-search input {
    border: none;
    border-bottom: 1px solid #80b500;
    border-radius: 0;
    color: #80b500;
    font-style: italic;
}
.top-menu .form-search input:focus {
    -webkit-box-shadow: none;
}
.top-menu .form-search input::placeholder {
    color: #80b500;
}
.menu-button{
    display: none;
    font-size: 24px;
    height: 50px;

}
/*CONTENT*/
.content {
    background: #f2f3f7;
    padding:20px 0;
}
.content section {
    border: 1px solid #dedede;
    border-radius: 3px;
    background: #ffffff;
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom:20px;
}
.content section:last-child{
    margin-bottom:0;
}
.content section.no-border {
    border: none;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.content section.no-background{
    background: none;
    padding:0;
}
/*FOOTER*/
#footer {
    font-family: Harmonia;
    background: #000111;
    color: #FFF;
}
#footer .inner {
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer .inner .icon {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    margin-right: 5px;
    font-size: 20px;
}
#footer .inner .info {
    display: inline-block;
}
#footer .inner .info .title {
    font-size: 12px;
}
#footer .inner .info .value a {
    font-size: 14px;
    font-weight: 500;
}
#footer .inner .info .value a:hover {
    text-decoration: none;
}
#footer .inner .info .address {
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    line-height: 1.4;
    margin-bottom: 10px;
}
#footer .inner .footer-link {
    padding: 5px 0;
}
#footer .inner .footer-link a {
    display: inline-block;
    font-size: 14px;
}
#footer .inner .footer-link a:first-child {
    margin-right: 15px;
}
/*HOME*/
.top-banner {
    height: 400px;
}
.top-banner img {
    height: 400px;
}
h1.section-title {
    font-size: 24px;
    padding: 30px 0;
    text-align: center;
}
h1.section-title span {
    padding: 0 10px;
    border-left: 7px solid #80b500;
    border-right: 7px solid #80b500;
}
.product-categories-tab .tab-nav {
    text-align: center;
}
.product-categories-tab .tab-nav a {
    padding: 0 20px;
}
.product-categories-tab .tab-nav a.active {
    color: #80b500;
}
.company-intro {
    background-color: #f1f1f1;
    font-family: Harmonia;
}
.company-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.company-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.company-intro .company-about {
    padding: 30px 30px 30px 0;
    text-align: justify;
}
.company-attr {
    padding: 30px 0;
    background-color: #FFFFFF;
    font-family: Harmonia;
}
.company-attr .attr-key {
    font-weight: 500;
}
.company-attr .attr-value {

}
.company-photos img {
    min-height: 250px;
}
.partner-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    height: 150px;
}
.partner-logo img {
    max-height: 100px;
}

.product .product-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%!important;
}
/*PRODUCT CATEGORY*/
.select-cat {
    font-family: Harmonia;
}
.select-cat .header {
    background-color: #80b500;
    color: #FFFFFF;
    font-size: 16px;
}
.select-cat .cat-item {
    padding: 10px 20px;
    border: 1px solid #80b500;
    border-top: none;
}
.select-cat .cat-item a.active {
    font-weight: bold;
    color: #80b500;
}
/*PRODUCT DETAILS*/
.product-summary {
    font-family: Harmonia;
}
.product-summary .info-block .block-title {
    font-size: 16px;
    margin-bottom: 20px;
}
.product-summary .info-block .block-title.product-name {
    font-size: 20px;
}
.product-summary .color-list {
    display: flex;
}
.product-summary .color-list .product-color {
    width: 50px;
    height: 50px;
    border: 1px solid #dedede;
    margin-right: 30px;
}
.product-summary .color-list .product-size {
    padding: 5px;
    border: 1px solid #dedede;
    margin-right: 10px;
}
.product-summary .product-price .price-value {
    color: #f80025;
}
.product-summary .product-min-order {
    color: #80B500;
}
.product-summary .main-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    border: 1px solid #eaeaea;
}
.product-summary .main-image img {
    max-height: 248px;
}
.product-summary .photos {
    background: #f4f4f4;
    margin: 0;
}
.product-summary .photos .photo {
    padding: 0;
    border: 1px solid #cecece;
    margin: 0;
}
.product-summary .photos .photo:last-child {
    margin: 0;
}
.product-summary .photos .photo img {
    width: 100%;
    height: 90px;
}
.info-block h2 {
    font-size: 18px;
    padding: 10px 0;
}
.info-block .block-content {
    font-family: Harmonia;
}
/*COMPONENT*/
.product {
    position: relative;
    padding: 20px;
    font-family: Harmonia;
    border: 1px solid #eaeaea;
}
.product .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}
.product .product-image img {
    max-height: 250px;
}
.product .add-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    padding: 7px 7px;
    /* background-color: #e7e7e7; */
    color: #80b500;
}
.product .add-cart {
    line-height: 1;
    border: 1px solid #80b500;
    border-radius: 3px;
}
.product .product-name {
    font-weight: 500;
    margin-top:5px;
}
.product .product-price {
    color: #df0021eb;
}
.product .product-min-order {
    color: #80b500;
}

.core-value .core-value-content .core-value-title{
    color:#80b500;
    font-size: 24px;
}

.core-value .core-value-content .core-value-text {
    font-family: Harmonia;
    font-size: 18px;
}

/*COMMON*/
.crop-text {
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.crop-text-5 {
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.crop-text-5 p:first-child {
    margin: 0;
    padding: 0;
}

a.read-more {
    color: #80b500;
    font-weight: 500;
    font-style: italic;
}
a.read-more:hover {
    color: #8c8c8c;
}
/*SERVICES*/
.service-list .service .service-inner {
    display: flex;
    min-height: 250px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    padding: 20px;
}
.service-list .service .service-inner img{
    height: 80px;
}
.service .service-inner .title {
    font-size: 21px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.service .service-inner .desc {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
}
.f-faq {
    width: 50%;
}
.f-faq .b-submit {
    float: right;
}
/*PARTNER*/
.partner-list{

}
.partner-list .partner {
    background-color: white;
    border-radius: 2px;
    padding:10px;
}
.partner-list .partner .partner-logo{
    min-height:100px;
    height:100px;
    padding:10px;
}
.partner-list .partner .brand{
    font-size: 16px;
    text-transform: uppercase;
}
.partner-list .partner .phonenumber,.partner-list .partner .email{
    font-family: Harmonia;
    font-size: 14px;
    margin-top:5px;
}
.partner-list .partner .phonenumber i,.partner-list .partner .email i{
    color:#80b500;
}
/*PARTNER DETAIL*/
.company-details .company-summary .text-detail{
    font-family: Harmonia;
}
.company-details .company-about{
    font-family: Harmonia;
    text-align: justify;
}
.flag-icon img{
    width:20px;
}
.flag-icon.flag-vi{

}
@media(max-width: 992px){
    .service-list .service{
        margin-bottom:2rem;
    }
}
@media(max-width: 768px){
    .welcome{
        display: none;
    }
    .top-menu .top-menu-inner{
        display: none;

    }
    .menu-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .partner-list .partner .partner-logo{
        height: auto;
    }
    .partner-list .partner .brand{
        margin-top:10px;
    }
    .partner-logo{
        height: auto;
    }
    .top-banner,.top-banner-2{
        display: none;
    }
    .service-list .service{
        margin-bottom:2rem;
    }
}





