.zimage-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 300px;
}
.zimage-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:1px solid #000000;
}
#pic1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
#pic3 {
    grid-row-start: 2;
    grid-row-end: 2;
}
#pic4 {
    grid-column-start: 2;
    grid-column-end: 4;
}
