.autocomplete-suggestions { border: 1px solid #CCC; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 10px 10px; white-space: nowrap; overflow: hidden; cursor: pointer;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: 500; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }