.modal-content {
    background-color: transparent;
    border: 0px;
}

.contain {
    background-color: white;
    border-radius: 19px;
}

#modal_cart .contain {
    max-width: 830px !important;
    height: 600px !important;
    position: relative;
}

#modal_cart .contain .row {
    height: 100% !important;
}

#modal_cart .contain .block-left {
    margin: 0;
    border-right: 1px solid #e0dddd;
}

#modal_cart .contain .block-left .list-product {
    height: 90%;
    -ms-overflow-style: none; /* Internet Explorer 10+*/
    scrollbar-width: none; /*Firefox*/
}

@media (min-width: 768px) {
    .block-left {
        height: 100%;
    }

    .list-product {
        overflow-y: scroll;
    }
}

@media (max-width: 768px) {
    #modal_cart .contain {
        overflow-y: scroll;
    }
}

.contain .block-left .list-product::-webkit-scrollbar {
    display: none; /*Safari and Chrome*/
}

.contain .block-right {
    margin: 0;
}

.bt-close {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.contain .text-header {
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #80b500;
}

.cart-item {
    display: inline-flex;
    width: 100%;
    margin-top: 25px;
    border-bottom: 1px solid #e0dddd;
}

.cart-item:last-child {
    border-bottom: 0;
}

.cart-item img {
    width: 100px;
    height: 89px;
    border: solid 1px #c5c5c5;
}

.cart-item .theader {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.cart-item .price {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #cb1a1a;
}

.cart-item .price2 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #80b500;
}

.cart-item .del {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #707070;
}

/*information*/
.input-information {
    margin-top: 20px;
    padding: 0 15px;
    width: 100% !important;
    height: 45px;
    background-color: #f5f5f5;
    border: 0;
}

.submit {
    width: 130px;
    height: 37px;
    margin-top: 30px;
    border-radius: 19px;
    background-color: #80b500;
    color: white;
    text-transform: uppercase;
}
