.p-slider .modal-dialog {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;

}

.p-slider .modal-content {
    height: 100% !important;
    border-radius: 0 !important;
    background-color: #444c59 !important
}

.p-slider .flexslider {
    max-height: 100%;
    overflow: hidden;
}

.p-slider .modal-header {
    border-bottom: 1px solid #444c59 !important;
}

.p-slider .modal-footer {
    border-top: 1px solid #444c59 !important;
}

.t-slider {
    width: 100%;
    bottom: 200px;
    position: absolute;
}

.b-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.bt-slider {
    width: 768px;
    height: 110px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.bt-slider .flex-active-slide {
    border: 2px solid white;
}

@media (max-width: 400px) {
    .bt-slider {
        width: 100%;
    }
}

.p-slider .flexslider .slides img {
    width: auto;
    margin: auto;
    display: block;
}

/**/
.bt-close {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}
