.fullscreen-slide {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #444c59;
    z-index: 9999;
}
.full-screen-act.close {
    background-image: url(https://static.reverland.com/images/xmap_close_50x50.png.pagespeed.ic.zz2RO-reOq.png);
}
.full-screen-act {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 200;
    width: 50px;
    height: 50px;
    background-image: url(https://static.reverland.com/images/xmap_fullscreen_50x50.png.pagespeed.ic.BMbmxoR7g7.png);
    opacity: .8;
    transition: opacity linear .25s;
    -webkit-transition: opacity linear .25s;
    -moz-transition: opacity linear .25s;
}
.fullscreen.flexslider {
    background: none;
    border: 0;
    height: 100%;
}
.flexslider .slider-buttons a {
    color: #00779a;
}
.but-nextdetail {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 20px;
    font-family: arial;
    font-size: 2em;
    background: rgba(255,255,255,.8);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px 25px;
    z-index: 99;
    opacity: .6;
    transition: opacity .2s linear;
}
.but-predetail {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    font-family: arial;

    left: 20px;
    font-size: 2em;
    background: rgba(255,255,255,.66);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px 25px;
    z-index: 90;
    opacity: .6;
    transition: opacity .2s linear;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.22);
}
.fullscreen .flex-viewport {
    height: 100%;
}
.fullscreen.flexslider .slides {
    height: 100%;
}
.fullscreen.flexslider .slides>li {
    height: 100%;
    display: block;
    position: relative;
}
.fullscreen.flexslider .slides>li a {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.fullscreen-slide .flexslider .slides img {
    width: auto;
}
.fullscreen-slide .img-list-slide {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%,0);
    background: none;
    border: 0;
    margin:0 !important;
}
.flexslider {
    border-radius: 0!important;
    border: 0!important;
}
.img-list-slide {
    width: 780px;
    border: 0;
    background: none;
    text-align: center;
    margin:5px auto;
}
.flex-disabled {
    opacity: .1;
    cursor: default;
}
.font-icon {
    font-family: 'rever-icon',Verdana,Geneva,sans-serif;
    text-rendering: auto;
    line-height: 20px;
    font-size: 18px;
    font-style: normal;
    vertical-align: middle;
}
.icon-presmall {
    display: block;
    position: absolute;
    top: 20px;
    left: -35px;
}
.icon-nextsmall {
    display: block;
    position: absolute;
    top: 20px;
    right: -35px;
}
.slideimg {
    float: left;
    width: 600px;
    position: relative;

}
.slider-buttons2 a{
    color:#FFF
}
.slider-buttons2 a:hover{
    color:#FFF;
    opacity:1;
}
#fm-slider .slides li a{
    overflow: hidden;
    width: 100%;
    max-height: 70%;
    max-width: 100%;
    height: 100%;
    position: relative;
}
#fm-slider .slides li a img{
    margin: auto auto;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
#ft-slider .slides li a img,#tImages .slides li a img {
    height: 70px;
    width: 100%;
}
#ft-slider .flex-active-slide,#tImages .flex-active-slide {
    border: 2px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
    height: 71px;
}
ul.slideimg li {
    float: left;
    margin-right: 3%;
    list-style: none;
    width: 30%;
}
ul.slideimg li a.img {
    display: block;
    width: 100%;
    height: 71px;
}
@media only screen and (max-width: 800px) {
    .but-predetail {
        left: 15px;
        padding: 8px 4px;
        opacity: .6;
        font-size:14px;
        margin-top:-10px;
    }
    .but-nextdetail {
        right: 15px;
        padding: 8px 4px;
        opacity: .6;
        font-size:14px;
        margin-top:-10px;
    }
}

